<!DOCTYPE html>
<html>
<head>
    <title>Smart Factory Anomaly Detector</title>
</head>
<body>
    <h2>Enter Sensor Readings (F1 to F28)</h2>
    <form action="/predict" method="post">
      Time: <input type="text" name="time" required><br><br>
      F1: <input type="text" name="F1" required><br><br>
      F2: <input type="text" name="F2" required><br><br>
      F3: <input type="text" name="F3" required><br><br>
      F4: <input type="text" name="F4" required><br><br>
      F5: <input type="text" name="F5" required><br><br>
      F6: <input type="text" name="F6" required><br><br>
      F7: <input type="text" name="F7" required><br><br>
      F8: <input type="text" name="F8" required><br><br>
      F9: <input type="text" name="F9" required><br><br>
      F10: <input type="text" name="F10" required><br><br>
      F11: <input type="text" name="F11" required><br><br>
      F12: <input type="text" name="F12" required><br><br>
      F13: <input type="text" name="F13" required><br><br>
      F14: <input type="text" name="F14" required><br><br>
      F15: <input type="text" name="F15" required><br><br>
      F16: <input type="text" name="F16" required><br><br>
      F17: <input type="text" name="F17" required><br><br>
      F18: <input type="text" name="F18" required><br><br>
      F19: <input type="text" name="F19" required><br><br>
      F20: <input type="text" name="F20" required><br><br>
      F21: <input type="text" name="F21" required><br><br>
      F22: <input type="text" name="F22" required><br><br>
      F23: <input type="text" name="F23" required><br><br>
      F24: <input type="text" name="F24" required><br><br>
      F25: <input type="text" name="F25" required><br><br>
      F26: <input type="text" name="F26" required><br><br>
      F27: <input type="text" name="F27" required><br><br>
      F28: <input type="text" name="F28" required><br><br>  
      Power Usage: <input type="text" name="power_usage" required><br><br>
      <input type="submit" value="Predict">
    </form>

    {% if prediction %}
        <h3>Prediction: {{ prediction }}</h3>
    {% endif %}
</body>
</html>
